spring.application.name: ibee

server:
  port: 8050

spring:
  datasource:
    hikari:
      idle-timeout: 10000
      maximum-pool-size: 30
      minimum-idle: 20
    password: admin
    url: jdbc:mysql://${DB_HOST:localhost:3306}/ibee?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    
  flyway:
    locations: classpath:db/migration,classpath:db/testData
  jackson:
    deserialization:
      fail-on-ignored-properties: true
      fail-on-unknown-properties: true
      
  jpa:
#    properties.javax.persistence.schema-generation.scripts.action: create
#    properties.javax.persistence.schema-generation.scripts.create-target: src/main/resources/ddl.sql
    show-sql: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
#      spring.jpa.properties.javax.persistence.schema-generation.scripts.action
      
  kafka:
    producer:
      group-id: 1
      
  cloud:
    stream:
      kafka:
        binder: 
          brokers: localhost:9094
          auto-create-topics: true
          replication-factor: 1
           
      bindings:
        topic-restaurant:
          destination: restaurant
          content-type: application/json
          
        topic-kitchen:
          destination: kitchen
          content-type: application/json
        
        topic-city:
          destination: city  
          content-type: application/json
       
        topic-state:
          destination: state
          content-type: application/json
          
        topic-product:
          destination: product
          content-type: application/json  
          