spring.application.name: algaworks

spring:
  datasource:
    hikari:
      idle-timeout: 10000
      maximum-pool-size: 30
      minimum-idle: 20
    password: admin
    url: jdbc:mysql://localhost/algafood?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
  flyway:
    locations: classpath:db/migration,classpath:db/testData
  jackson:
    deserialization:
      fail-on-ignored-properties: true
      fail-on-unknown-properties: true
  jpa:
    show-sql: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  kafka:
    producer:
      group-id: 1
      
  cloud:
    stream:
      kafka:
        binder: 
          brokers: localhost:9094
          auto-create-topics: false
          replication-factor: 1
          health-timeout: 30
           
      bindings:
        topic-restaurant:
          destination: restaurant
          content-type: application/json
          
        topic-kitchen:
          destination: kitchen
          content-type: application/json
        
        topic-city:
          destination: city  
          content-type: application/json
       
        topic-state:
          destination: state
          content-type: application/json   
          
        
